<div class="row text-center">
  <div class="col">
    <h1>Collections</h1>
  </div>
</div>
<div class="row text-center">
  <div class="col-12">
    <%= link_to 'New Collection', new_collection_path %>
  </div>
  <% @collections.each do |collection| %>
    <div class="col-3 marginTop50">
      <%= link_to collection do %>
        <div class="collections-img-wrapper mx-auto">
          <%= image_tag collection.picture.url %>
          <div class="collections-img-mask"></div>
        </div>
      <% end %>
      <%= link_to 'Edit', edit_collection_path(collection) %> |
      <%= link_to 'Destroy', collection, method: :delete, data: { confirm: 'Are you sure?' } %>
    </div>
  <% end %>
</div>
