<div class="row text-center">
  <div class="col">
    <h1>Collections</h1>
  </div>
</div>
<div class="row text-center marginTop50">
  <div class="col-12 marginBottom50">
    <%= link_to 'Add New Collection', new_collection_path, class: 'add-button' %>
  </div>
  <% @collections.each do |collection| %>
    <div id="collection-<%= collection.id %>" class="col-3 marginTop50 collection-wrapper-div">
      <%= link_to collection do %>
        <%= collection.name %>
        <div class="collections-img-wrapper mx-auto">
          <%= image_tag collection.picture.url %>
          <div class="collections-img-mask"></div>
        </div>
      <% end %>
      <%= link_to 'Edit', edit_collection_path(collection) %> |
      <%= link_to 'Destroy', collection, method: :delete, data: { confirm: 'Are you sure?' } %>
    </div>
  <% end %>
</div>
