<div id="jewelry-index" class="row text-center">
  <div class="col-12">
    <h1>Jewelries</h1>
  </div>
  <div class="col-12 marginTop50">
    <%= link_to 'Add New Jewelry', new_jewelry_path, class: 'add-button' %>
  </div>
  <div class="col-12 marginTop50">
    <table class="table table-hover">
      <thead>
        <tr>
          <th>Name</th>
          <th>Picture</th>
          <th>Inspiration</th>
          <th>Material</th>
          <th>Collection</th>
          <th>Visible</th>
          <th colspan="3">Action</th>
        </tr>
      </thead>

      <tbody>
        <% @jewelries.each do |jewelry| %>
          <tr id="jewelry-<%= jewelry.id %>">
            <td><%= jewelry.name %></td>
            <td><%= image_tag jewelry.picture.url(:thumb) %></td>
            <td><%= jewelry.inspiration %></td>
            <td><%= jewelry.material %></td>
            <td><%= jewelry.collection.name %></td>
            <td class="visible-column <%= jewelry.visible? ? 'box-green' : 'box-red' %>"><%= link_to jewelry.visible? ? 'Yes' : 'No', jewelry_path(jewelry, jewelry: { visible: jewelry.visible? ? 'false' : 'true' }), class: 'toggle-visibility', method: :put, remote: true %></td>
            <td><%= link_to 'View', jewelry, class: 'btn btn-outline-success' %></td>
            <td><%= link_to 'Edit', edit_jewelry_path(jewelry), class: 'btn btn-outline-info' %></td>
            <td><%= link_to 'Delete', jewelry, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-outline-danger', remote: true %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
