<!DOCTYPE html>
<html>
  <head>
    <title>SkubichJewelry-Admin</title>
    <%= csrf_meta_tags %>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body id="admin">
    <nav class="navbar navbar-expand-md fixed-top navbar-light bg-faded">
      <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <%= link_to(image_tag('logo-nav.png'), root_path, class: 'navbar-brand')  %>
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div id="navbar" class="navbar-nav">
          <%= link_to 'Website', root_path, class: 'nav-item nav-link' %>
          <%= link_to 'LogOut', destroy_admin_session_path, method: :delete, class: 'nav-item nav-link' %>
        </div>
      </div>
    </nav>
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
    <div class="admin-side-bar">
      <ul>
        <li><%= link_to 'Collections', collections_path %></li>
      </ul>
    </div>
    <div class="custom-container-admin">
      <div class="container">
        <%= yield %>
      </div>
    </div>
  </body>
</html>
