<!DOCTYPE html>
<html class="<%= 'home_page' if current_page?(root_path)  %>">
  <head>
    <title>Skubich Jewelry Design | Wear Your Character</title>
    <%= csrf_meta_tags %>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-66495804-3', 'auto');
      ga('send', 'pageview');

    </script>
  </head>

  <body>
    <nav class="navbar navbar-expand-md fixed-top navbar-light bg-faded">
      <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <%= link_to(image_tag('logo-nav.png'), root_path, class: 'navbar-brand')  %>
      <div class="social-icon-wrapper">
        <%= link_to((fa_icon "facebook"), 'https://www.facebook.com/cskubich/', class: 'social-link', target: '_blank' )%>
        <%= link_to((fa_icon "instagram"), 'https://www.instagram.com/camille.skubich/', class: 'social-link', target: '_blank' )%>
        <%= link_to((fa_icon "twitter "), 'https://twitter.com/CamilleSkubich', class: 'social-link', target: '_blank' )%>
      </div>
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div id="navbar" class="navbar-nav">
          <%= link_to 'HOME', root_path(anchor: 'home'), class: 'nav-item nav-link active' %>
          <%= link_to 'COLLECTIONS', root_path(anchor: 'collections'), class: 'nav-item nav-link active' %>
          <%= link_to 'ABOUT', root_path(anchor: 'about'), class: 'nav-item nav-link active' %>
          <%= link_to 'CONTACT', root_path(anchor: 'contact'), class: 'nav-item nav-link active' %>
          <div class="nav-item social-icon-mobile">
            <%= link_to((fa_icon "facebook"), 'https://www.facebook.com/cskubich/', class: 'social-link', target: '_blank' )%>
            <%= link_to((fa_icon "instagram"), 'https://www.instagram.com/camille.skubich/', class: 'social-link', target: '_blank' )%>
            <%= link_to((fa_icon "twitter "), 'https://twitter.com/CamilleSkubich', class: 'social-link', target: '_blank' )%>
          </div>
        </div>
      </div>

    </nav>
    <!-- <div> -->
      <%= yield %>
    <!-- </div> -->
    <footer class="text-center">
      <p>Site by <a href="http://www.channedesign.com" target="_blank">Channe</a> | &copy; Camille Skubich Jewelry</p>
    </footer>
  </body>
</html>
