<!DOCTYPE html>
<html>
  <head>
    <title>SkubichV2</title>
    <%= csrf_meta_tags %>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
    <nav class="navbar navbar-expand-md fixed-top navbar-light bg-faded">
      <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <%= link_to(image_tag('logo-nav.png'), root_path, class: 'navbar-brand')  %>
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div id="navbar" class="navbar-nav">
          <%= link_to 'HOME', root_path(anchor: 'home'), class: 'nav-item nav-link active' %>
          <%= link_to 'COLLECTIONS', root_path(anchor: 'collections'), class: 'nav-item nav-link active' %>
          <%= link_to 'ABOUT', root_path(anchor: 'about'), class: 'nav-item nav-link active' %>
          <%= link_to 'CONTACT', root_path(anchor: 'contact'), class: 'nav-item nav-link active' %>
        </div>
      </div>
      <div class="social-icon-wrapper">
        <%= link_to((fa_icon "facebook"), 'https://www.facebook.com/cskubich/', class: 'social-link', target: '_blank' )%>
        <%= link_to((fa_icon "instagram"), 'https://www.instagram.com/camille.skubich/', class: 'social-link', target: '_blank' )%>
        <%= link_to((fa_icon "twitter "), 'https://twitter.com/CamilleSkubich', class: 'social-link', target: '_blank' )%>
      </div>
    </nav>
    <div class="<%= 'container custom-margin' unless current_page?(root_path) %>">
      <%= yield %>
    </div>
    <footer class="text-center">
      <p>Site by <a href="http://www.channedesign.com" target="_blank">Channe</a> | &copy; Camille Skubich Jewelry</p>
    </footer>
  </body>
</html>
